@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

/* custom button styling */
button {
    color: #A8AF8B;
    font-family: inherit;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid #A8AF8B;
    padding: 0.6em 1.2em;
    background-color: #fffcfc;
    transition: border-color 0.25s;
    cursor: pointer;
}

button:hover {
    border-color: #FFAD5E;
    border: 1px solid #FFAD5E;
    color: #FFAD5E;
}

button:focus,
button:focus-visible {
    outline: 4px auto #FFAD5E;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

.react-flow__node.selected {
    border: solid 3px #FFAD5E;
    border-radius: 7px;
}

.errorMessage {
    color: black;
    background: lightcoral;
    font-size: 12px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.successMessage {
    color: black;
    background: lightgreen;
    font-size: 12px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

/* sidebar styling */
.main-flow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 50%;
}


.main-flow .description {
    margin: 10px;
    font-size: 12px;
}

.main-flow .wrokflow-wrapper {
    flex-grow: 1;
    height: 89%;
}

.main-flow .selectall {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .main-flow {
        display: flex;
        flex-direction: row;
    }

    .rightbar {
        width: 20%;
        max-width: 250px;
    }
}